@model SubscriberViewModel
@{
    ViewData["Title"] = "Subscriber Details"; 

    var lastSubscription = Model.Subscriptions.Last();
    var subscriberStatus = Model.IsBlackListed ? SubscriberStatus.Banned : lastSubscription.EndDate < DateTime.Today ? SubscriberStatus.InActive : SubscriberStatus.Active;
    var statusClass = Model.IsBlackListed ?"danger": lastSubscription.EndDate < DateTime.Today ? "warning" : "success";
}
<div class="d-flex flex-column flex-column-fluid  container-fluid ">

    <!--begin::Toolbar-->
    <div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">


        <!--begin::Page title-->
        <div class="page-title d-flex flex-column me-3">
            <!--begin::Title-->
            <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">
               Subscriber Details
            </h1>
            <!--end::Title-->
           
        </div>
        <!--end::Page title-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2 py-md-1">
            <!--begin::Button-->
            <a asp-action="Edit" asp-route-id="@Model.Key" class="btn btn-primary fw-bold">
                Edit
            </a>
            <!--end::Button-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="content flex-column-fluid" id="kt_content">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-xl-row">
            <!--begin::Sidebar-->
            <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">

                <!--begin::Card-->
                <div class="card mb-5 mb-xl-8">
                    <!--begin::Card body-->
                    <div class="card-body pt-15">
                        <!--begin::Summary-->
                        <div class="d-flex flex-center flex-column mb-5">
                            <!--begin::Avatmar-->
 
                                <a data-fslightbox href="@Model.ImageUrl">
                                    <div class="symbol symbol-150px symbol-circle mb-7">
                                        <img src="@Model.ImageThumbnailUrl" alt="image">
                                    </div>
                                </a>
                           
                            <!--end::Avatar-->
                            <!--begin::Name-->
                            <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">
                                @Model.FullName
                            </a>
                            <!--end::Name-->
                            <!--begin::Email-->
                            <a href="#" class="fs-5 fw-semibold text-muted text-hover-primary mb-6">
                                @Model.Email
                            </a>
                            <!--end::Email-->
                        </div>
                        <!--end::Summary-->
                        <!--begin::Details toggle-->
                        <div class="d-flex flex-stack fs-4 py-3">
                            <div class="fw-bold">
                                Details
                            </div>
                            <!--begin::Badge-->
                            <div class="badge badge-light-@statusClass d-inline" id ="StatusBage">@subscriberStatus subscriber</div>
                            <!--begin::Badge-->
                        </div>
                        <!--end::Details toggle-->

                        <div class="separator separator-dashed my-3"></div>

                        <!--begin::Details content-->
                        <div class="pb-5 fs-6">
                            <!--begin::Details item-->
                            <div class="fw-bold mt-5">Account ID</div>
                            <div class="text-gray-600 text-hover-primary">ID-@Model.Id</div>
                            <!--begin::Details item-->
                            <!--begin::Details item-->
                            <div class="fw-bold mt-5">National ID</div>
                           <div class="text-gray-600 text-hover-primary">@Model.NationalId</div>
                            <!--begin::Details item-->
                             <!--begin::Details item-->
                            <div class="fw-bold mt-5">Date Of Birth</div>
                           <div class="text-gray-600 text-hover-primary">@Model.DateOfBirth.ToString("dd MMM,yyyy")</div>
                            <!--begin::Details item-->
                            <!--begin::Details item-->
                            <div class="fw-bold mt-5">Mobile Number </div>
                            <div class="text-gray-600 text-hover-primary">@Model.MobileNumber</div>
                            <!--begin::Details item-->
                            <!--begin::Details item-->
                            <div class="fw-bold mt-5">Delivery Address</div>
                            <div class="text-gray-600 text-hover-primary">@Model.Address, <br>@Model.Area<br>@Model.Governorate</div>
                            <!--begin::Details item-->

                        </div>
                        <!--end::Details content-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Sidebar-->
            <!--begin::Content-->
            <div class="flex-lg-row-fluid ms-lg-15">
                <!--begin:::Tabs-->
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_customer_overview" aria-selected="true" role="tab">Overview</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#Rentals" aria-selected="false" tabindex="-1" role="tab">Rentals</a>
                    </li>
                    <!--end:::Tab item-->
                </ul>
                <!--end:::Tabs-->
                <!--begin:::Tab content-->
                <div class="tab-content" id="myTabContent">
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                        <div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
                            <div class="col">
                                <!--begin::Card-->
                                <div class="card pt-4 h-md-100 mb-6 mb-md-0">
                                    <!--begin::Card header-->
                                    <div class="card-header border-0">
                                        <!--begin::Card title-->
                                        <div class="card-title">
                                            <h2 class="fw-bold">Number of Rentals</h2>
                                        </div>
                                        <!--end::Card title-->
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0">
                                        <div class="fw-bold fs-2">
                                            <div class="d-flex">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen030.svg-->
                                                <span class="svg-icon svg-icon-info svg-icon-2x">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                                <div class="ms-2">
                                                    @Model.Rentals.Sum(r=>r.NumberOfCopies) 
                                                </div>
                                            </div>
                                            <div class="fs-7 fw-normal text-muted">Total number of copies.</div>
                                        </div>
                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::Card-->
                            </div>

                            <div class="col">
                                <!--begin::Reward Tier-->
                                <div class="card bg-@statusClass hoverable h-md-100">
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
                                        <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="@(subscriberStatus==SubscriberStatus.Active?string.Empty :"d-none")" id="ActiveStatusIcon">
                                                <path opacity="0.3" d="M7.16973 20.95C6.26973 21.55 5.16972 20.75 5.46972 19.75L7.36973 14.05L2.46972 10.55C1.56972 9.95005 2.06973 8.55005 3.06973 8.55005H20.8697C21.9697 8.55005 22.3697 9.95005 21.4697 10.55L7.16973 20.95Z" fill="currentColor" />
                                                <path d="M11.0697 2.75L7.46973 13.95L16.9697 20.85C17.8697 21.45 18.9697 20.65 18.6697 19.65L13.1697 2.75C12.7697 1.75 11.3697 1.75 11.0697 2.75Z" fill="currentColor" />
                                            </svg>
                                            @if(subscriberStatus==SubscriberStatus.Banned)
                                            {
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                              </svg>
                                            }
                                            else if (subscriberStatus == SubscriberStatus.InActive)
                                            {
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                                 <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                                             </svg>
                                            }
                                        </span>
                                        <!--end::Svg Icon-->
                                        <div class="text-white fw-bold fs-2 mt-5" id="CardStatus">@subscriberStatus Subscriber </div>
                                        <div class="fw-semibold text-white"> Subscriber since : @Model.CreatedOn.ToString("dd MMM,yyyy") </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Reward Tier-->
                            </div>
                        </div>
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0 pt-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label fw-bold fs-3 mb-1">Renewal History</span>                                
                                </h3>
                                @if(!Model.IsBlackListed)
                                {
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-sm btn-light-primary js-renew" data-key="@Model.Key">
                                            <i class="bi bi-arrow-repeat"></i>
                                            Renew
                                        </a>
                                    </div>
                                }
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body py-3">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle gs-0 gy-4" id="susbscriptionTable">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fw-bold text-muted bg-light">
                                                <th class="ps-4 min-w-125px rounded-start">Start Date</th>
                                                <th class="min-w-125px">End Date</th>
                                                <th class="min-w-200px">Status</th>
                                                <th class="min-w-125px text-end rounded-end pe-6">Add On</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach(var subscription in Model.Subscriptions)
                                            {
                                                <partial name="_SubscriptionRow" model="@subscription" />
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade" id="Rentals" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0 pt-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label fw-bold fs-3 mb-1">Rentals</span>
                                </h3>
                                @if (!Model.IsBlackListed )
                                {
                                    <div id="RentalButton" class="card-toolbar @(lastSubscription.EndDate < DateTime.Today.AddDays((int)RentalsConfigurations.Rentalduration) ? "d-none" : string.Empty)">
                                        <a asp-controller="Rentals" asp-action="Create" asp-route-sKey="@Model.Key" class="btn btn-sm btn-light-primary" >
                                            <i class="bi bi-plus-square-fill"></i>
                                            Add Rental
                                        </a>
                                    </div>
                                }
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                             <div class="card-body pt-0 pb-5">
                                <partial name="_Rentals" model="@Model.Rentals"/>
                             </div>
                             <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->
                </div>
                <!--end:::Tab content-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Layout-->

    </div>
    <!--end::Post-->
</div>

@section Scripts
{
    <script src="~/js/subscriber-details.js" asp-append-version="true"></script>
}
@section Plugins
 {
    <script src="~/assets/plugins/fslightbox/fslightbox.bundle.js"></script>
}